
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" ng-app="pencilblueApp">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Jobs at Naurex Group</title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

  <link rel="shortcut icon" href="img/favicon.png">

  <link rel="stylesheet" type="text/css" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/public/cms_base/version/935a51c32c21711dedacab4a6359b01c78d0912f/css/general_styles.css">
  <!-- <link rel="stylesheet" type="text/css" href=""> -->
  <link rel="stylesheet" type="text/css" href="assets/public/premium/css/premium_custom_styles.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script type="text/javascript" src="assets/public/cms_base/version/935a51c32c21711dedacab4a6359b01c78d0912f/compiled_bower/required_bower_scripts.min.js"></script>
</head>
<body id="premium-body" ng-controller="PencilBlueController">


  <div id="src-tracking-loader" ng-controller="SourceTrackingFrontController"></div>

  <!-- Header -->
  <header id="back-to-top">
    <!-- Top social -->
    <section class="top-social">
      <div class="container">
        <div class="row">
          <!-- Social share -->
          <div class="col-xs-12 pull-right">
            <!-- Top header -->
            <div class="pull-right top-header">
              <!-- Social icons -->
              <!-- <div class="social-icons">
              <ul class="list-inline social-items">
              <li><a href="#" title="English"><img src="img/flag-en.png" alt="English"> English</a></li>
              <li><a href="#" title="Français"><img src="img/flag-fr.png" alt="Français"> Français</a></li>
              <li><a href="#" title="Português"><img src="img/flag-pt.png" alt="Português"> Português</a></li>
            </ul>
          </div> -->
          <!-- End Social Icons -->

          <!-- Language dropdown -->
          <div class="language-dropdown">

            <div id="locale-widget-desktop-container">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="primary-text-color">Français (CA)</span> <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li class="">
                    <a class="locale-widget-option locale-widget-fr-FR-option" href="/fr-FR/search">Français (FR)</a>
                  </li>
                  <li class="">
                    <a class="locale-widget-option locale-widget-en-GB-option" href="/en-GB/search">English (UK)</a>
                  </li>
                  <li class="">
                    <a class="locale-widget-option locale-widget-pt-PT-option" href="/pt-PT/search">Português</a>
                  </li>

                </ul>
              </div>
            </div>

          </div>
          <!-- End Language dropdown -->
        </div>
        <!-- End Top header -->
      </div>
      <!-- End Social share -->
    </div>
  </div>
</section>
<!-- End Top social -->

<!-- Top navbar -->
<section class="top-navbar">

  <!-- Container -->
  <div class="container">

    <!-- Logo tablet -->
    <div class="navbar-brand-tablet visible-sm visible-md">
      <div class="row">

        <div class="col-xs-12">
          <!-- Logo -->
          <div class="logo-tablet">
            <a href="/" title="Naurex Group Careers">
              <img src="img/naurex-logo.png" alt="Naurex Group Careers">
            </a>
          </div>
          <!-- End Logo -->
        </div>

      </div>
    </div>
    <!-- End Logo tablet -->

    <!-- Header extra content -->
    <div class="header-extra-content hidden">
      <div class="row">
        <div class="col-xs-8">
          <!-- Logo desktop -->
          <a href="/" class="navbar-brand visible-lg" title="Naurex Group Careers">
            <img src="img/naurex-logo.png" alt="Naurex Group Careers">
          </a>
          <!-- End Logo desktop -->
        </div>

        <div class="col-xs-3 col-xs-offset-1">
          <!-- Join our Talent Network -->
          <div class="join-top">
            <a href="/join" class="btn btn-default btn-join" title="Join Our Talent Network">Join Our Talent Network</a>
          </div>
          <!-- End Join our Talent Network -->
        </div>
      </div>
    </div>
    <!-- End Header extra content -->
  </div>
  <!-- End Container -->

  <!-- Navbar default -->
  <nav class="navbar navbar-default" role="navigation">
    <!-- Container -->
    <div class="container">

      <!-- Navbar mobile -->
      <div class="navbar-header">
        <!-- Navbar toggle -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <!-- End Navbar toggle -->

        <!-- Logo desktop -->
        <a href="/" class="navbar-brand visible-lg" title="Naurex Group Careers">
          <img src="img/naurex-logo.png" alt="Naurex Group Careers">
        </a>
        <!-- End Logo desktop -->

        <!-- Logo mobile -->
        <a href="/" class="navbar-brand visible-xs" title="Naurex Group Careers">
          <img src="img/naurex-logo-mobile.png" alt="Naurex Group Careers">
        </a>
        <!-- End Logo mobile -->
      </div>
      <!-- End Navbar mobile -->

      <!-- Navbar collapse -->
      <div class="collapse navbar-collapse" id="navbar">
        <!-- Navbar nav -->
        <ul class="nav navbar-nav">
          <!-- Navigation -->
          <!-- ^navigation^ -->
          <li class="active">
            <a href="#" target="">
              Home
            </a>
          </li>
          <li class="">
            <a href="#" target="">
              About
            </a>
          </li>
          <li class="">
            <a href="#" target="">
              Services
            </a>
          </li>
          <li class="">
            <a href="#" target="">
              Offers
            </a>
          </li>
          <li class="">
            <a href="#" target="">
              Join our Talent Network
            </a>
          </li>
          <li class="">
            <a href="#" target="">
              News
            </a>
          </li>
          <li class="">
            <a href="#" target="">
              Contact
            </a>
          </li>
          <li class="">
            <a href="#" target="">
              All Jobs
            </a>
          </li>
          <!-- End Navigation -->
        </ul>
        <!-- End Navbar nav -->
      </div>
      <!-- End Navbar collapse -->
    </div>
    <!-- Container -->
  </nav>
  <!-- End Navbar default -->
</section>
<!-- End Top navbar -->
</header>
<!-- End Header -->

<!-- Mobile search button -->
<button type="button" class="navbar-toggle search-toggle-button-mobile collapsed" data-toggle="collapse" data-target="#SearchBoxMobile" aria-expanded="false" title="Search">
  <span class="sr-only">Toggle search</span>
  <i class="fa fa-search"></i>
</button>
<!-- End Mobile search button -->


<!-- Banner mobile -->
<div id="SearchBoxMobile" class="collapse"  aria-expanded="false">
  <!-- Landing page -->
  <section class="landing-banner visible-xs">

    <!-- Mobile Search -->
    <div class="search-mobile">
      <!-- Search box -->
      <div class="search-box visible-xs">
        <div class="container">
          <div class="row search-box-row">
            <div class="col-xs-12 search-box-content">

              <!-- Search bar -->
              <!-- ^tmp_elements=search_bar^ -->
              <script type="text/javascript">
              var countryDropdownEnabled = false;
              </script>

              <div id="search-bar" class="" ng-controller="SearchBarController">
                <div class="search-bar-element search-field-container">
                  <label for="search-keywords-field" class="hidden-xs search-bar-keyword-label label-text">Keyword:</label>
                  <input id="search-keywords-field" type="text" class="search-bar-keyword-field form-control" ng-model="keywordInput"
                  ng-keydown="checkKeywordKeydown($event)" placeholder="Job Title or Category">
                </div>
                <div class="search-bar-element search-field-container search-location-field">
                  <label for="search-location-field" class="hidden-xs search-bar-location-label label-text">Location:</label>

                  <input id="search-location-field" autocomplete="off" type="text" class="form-control search-bar-location-field " ng-keydown="checkLocationKeydown($event)"
                  ng-model="locationInput" ng-change="getSuggestions()" placeholder="City or Postal Code">
                  <ul id="suggestions" class="list-group autocomplete-list suggestions-list" role="list" ng-show="locationSuggestions.length > 0" ng-cloak>
                    <li ng-repeat="location in locationSuggestions" class="blockSpan list-group-item" ng-click="addToSelectedTags($index)"
                    ng-mouseover="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}">{{$parent.googlePlacesAutocompleteEnabled ? location.description : location}}</li>
                    <li ng-repeat-end class="autocompletefooter" ng-if="googlePlacesAutocompleteEnabled"><img src='/public/cms_base/img/powered_by_google_on_white.png' align='right'class='google-footer'></li>
                  </ul>
                </div>
                <div class="search-bar-element search-widget-container">
                  <a ng-href="{{searchUrl()}}" id="primary-search-button" target="_top" class="search-btn primary-button text-center label-text">Search</a>
                </div>
              </div>
              <!-- End Search bar -->

              <!-- View all jobs -->
              <p class="link-center">
                <a href="/search" class="view-all-jobs" title="View All Jobs at Naurex Group">View All Jobs at Naurex Group</a>
              </p>
              <!-- End View all jobs -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Search box -->
    </div>
    <!-- End Mobile Search -->

  </section>
  <!-- End Landing page -->
</div>
<!-- End Banner mobile -->

<!-- Landing page -->
<section class="landing-banner hidden-xs">

  <!-- Desktop Search -->
  <div class="search-desktop-home hidden-xs" aria-expanded="true">
    <div class="search-box">
      <div class="container">
        <div class="row search-box-row">
          <div class="col-xs-12 search-box-content">

            <!-- Search bar -->
            <!-- ^tmp_elements=search_bar^ -->
            <script type="text/javascript">
            var countryDropdownEnabled = false;
            </script>

            <div id="search-bar" class="" ng-controller="SearchBarController">
              <div class="search-bar-element search-field-container">
                <label for="search-keywords-field" class="hidden-xs search-bar-keyword-label label-text">Keyword:</label>
                <input id="search-keywords-field" type="text" class="search-bar-keyword-field form-control" ng-model="keywordInput"
                ng-keydown="checkKeywordKeydown($event)" placeholder="Job Title or Category">
              </div>
              <div class="search-bar-element search-field-container search-location-field">
                <label for="search-location-field" class="hidden-xs search-bar-location-label label-text">Location:</label>

                <input id="search-location-field" autocomplete="off" type="text" class="form-control search-bar-location-field " ng-keydown="checkLocationKeydown($event)"
                ng-model="locationInput" ng-change="getSuggestions()" placeholder="City or Postal Code">
                <ul id="suggestions" class="list-group autocomplete-list suggestions-list" role="list" ng-show="locationSuggestions.length > 0" ng-cloak>
                  <li ng-repeat="location in locationSuggestions" class="blockSpan list-group-item" ng-click="addToSelectedTags($index)"
                  ng-mouseover="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}">{{$parent.googlePlacesAutocompleteEnabled ? location.description : location}}</li>
                  <li ng-repeat-end class="autocompletefooter" ng-if="googlePlacesAutocompleteEnabled"><img src='/public/cms_base/img/powered_by_google_on_white.png' align='right'class='google-footer'></li>
                </ul>
              </div>
              <div class="search-bar-element search-widget-container">
                <a ng-href="{{searchUrl()}}" id="primary-search-button" target="_top" class="search-btn primary-button text-center label-text">Search</a>
              </div>
            </div>
            <!-- End Search bar -->

            <!-- View all jobs -->
            <p class="link-center">
              <a href="/search" class="view-all-jobs" title="View All Jobs at Naurex Group">View All Jobs at Naurex Group</a>
            </p>
            <!-- End View all jobs -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Desktop Search -->

</section>
<!-- End Landing page -->


<!-- Footer -->
<footer>
  <section class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <ul class="visible-xs">
            <li><a href="http://www.naurexgroup.com/" target="_blank" title="© Naurex Group 2017">© Naurex Group 2017</a></li>
            <li><a href="http://www.naurexgroup.com/" target="_blank" title="Home">Home</a></li>
            <li><a href="http://www.naurexgroup.com/about/" target="_blank" title="About">About</a></li>
            <li><a href="http://www.naurexgroup.com/services/" target="_blank" title="Services">Services</a></li>
            <li><a href="http://www.naurexgroup.com/offers/" target="_blank" title="Offers">Offers</a></li>
            <li><a href="/join" title="Join Our Talent Network">Join Our Talent Network</a></li>
            <li><a href="http://www.naurexgroup.com/news/" target="_blank" title="News">News</a></li>
            <li><a href="http://www.naurexgroup.com/contact/" target="_blank" title="Contact">Contact</a></li>

            <li><a href="/terms-and-conditions" title="Terms & Conditions">Terms & Conditions</a></li>
            <li><a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
          </ul>

          <ul class="hidden-xs list-inline">
            <li><a href="http://www.naurexgroup.com/" target="_blank" title="© Naurex Group 2017">© Naurex Group 2017</a></li>
            <li><a href="http://www.naurexgroup.com/" target="_blank" title="Home">Home</a></li>
            <li><a href="http://www.naurexgroup.com/about/" target="_blank" title="About">About</a></li>
            <li><a href="http://www.naurexgroup.com/services/" target="_blank" title="Services">Services</a></li>
            <li><a href="http://www.naurexgroup.com/offers/" target="_blank" title="Offers">Offers</a></li>
            <li><a href="/join" title="Join Our Talent Network">Join Our Talent Network</a></li>
            <li><a href="http://www.naurexgroup.com/news/" target="_blank" title="News">News</a></li>
            <li><a href="http://www.naurexgroup.com/contact/" target="_blank" title="Contact">Contact</a></li>

            <li><a href="/terms-and-conditions" title="Terms & Conditions">Terms & Conditions</a></li>
            <li><a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
          </ul>

        </div>
      </div>
    </div>
  </section>
</footer>
<!-- End Footer -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX9bDtzse0NKvnFFtJOY-G3DJMwSuZzHg&libraries=places"></script>
<script type="text/javascript" src="assets/public/cms_base/version/935a51c32c21711dedacab4a6359b01c78d0912f/angular/scripts/tn_scripts.min.js"></script>

</body>
</html>
