/*** Styles related to social media icons
* Specific styles for social items on header or footer please
* use header o footer file
***/

///this class could be added to ul tag containing social items
.social-items{
  @extend .no-margin;
  @extend .no-padding;
  list-style: none;

  text-align: right;

  li{
    padding-left: 5px;
    padding-right: 5px;
  }
}

/// This class could be added to i tags
/// This skeleton generates social icon with cirle border
.custom-social{
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: $white;
  background: transparent;
  padding: 6px 12px;
  border-radius: 50%;
  border: 1px solid $third-color;
}

.facebook-icon{
  @include on-event{
    color: $white;
    background: #3d5b9b;
    border: 1px solid #3d5b9b;
  }
}

.twitter-icon{
  @include on-event{
    color: $white;
    background: #61a9db;
    border: 1px solid #61a9db;
  }
}

.linkedin-icon{
  @include on-event{
    color: $white;
    background: #0e76b5;
    border: 1px solid #0e76b5;
  }
}

.youtube-icon{
  @include on-event{
    color: $white;
    background: #e52e2a;
    border: 1px solid #e52e2a;
  }
}

.instagram-icon{
  @include on-event{
    color: $white;
    background: -webkit-radial-gradient(30% 107% circle, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285aeb 90%);
    background: -o-radial-gradient(30% 107% circle, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285aeb 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285aeb 90%);
    border: 1px solid #fd5949;
  }
}

.pinterest-icon{
  @include on-event{
    color: $white;
    background: #cb2027;
    border: 1px solid #cb2027;
  }
}

.rss-icon{
  @include on-event{
    color: $white;
    background: -webkit-linear-gradient(315deg, #ff4d03 20%, #ffb67c 40%, #ff4d03 100%);
    background: -o-linear-gradient(315deg, #ff4d03 20%, #ffb67c 40%, #ff4d03 100%);
    background: linear-gradient(135deg, #ff4d03 20%, #ffb67c 40%, #ff4d03 100%);
    border: 1px solid #ff4d03;
  }
}

.glassdoor-icon{
  @include on-event{
    color: $white;
    background: #7cb229;
    border: 1px solid #7cb229;
  }
}
